* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.galleryBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layoutTitle {
    margin: 4rem 6rem;
    // margin-left: 5rem;
    height: 10rem;
    width: 80%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    
    h1 {
        font-size: 3rem;
        z-index: 1;
    }

    @media screen and (max-width: 720px) {
        margin-top: 1rem;
    }
}

.gallery {
    width: 80%;
    height: 80%;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 10rem;
    transition: 0.5s linear;
    // justify-content: space-between;

    @media screen and (max-width: 720px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-between;

    }
}

.card {
    position: relative;
    z-index: 0;
    width: 400px;
    height: 200px;
    // height: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.20);
    transition: 0.5s ease;
    display: flex;

    &:hover {
        height: 600px;
        display: flex;
        flex-direction: column;
        transform: translateY(-150px);
        box-shadow: 5px 15px 50px rgba(56, 55, 55, 0.5);
    }

    .cardImg {
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20);
        overflow: hidden;
        transition: 0.5s ease;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // 可能出錯
    &:hover .cardImg  {
        width: 300px;
        height: 300px;
        left: 50%; // 將左邊界設定在父元素的中央
        top: 50%; // 將上邊界設定在父元素的中央
        transform: translate(-50%, -70%); // 使用translate來偏移自己的一半寬度和高度
        box-shadow: 5px 10px 20px rgba(56, 55, 55, 0.5);
    }

    // context
    .context {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    
        .contextDetails {
            padding: 40px;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(100px);
        
            h2 {
                font-size: 1.25rem;
                font-weight: 600;
                color: #555;
                line-height: 1.2rem;
                margin-bottom: 1rem;
            
                .data {
                    display: flex;
                    justify-content: space-between;
                    margin:  20px 0;
                    
                }
            }
        }
    }
    &:hover {
        .context {
            .contextDetails {
                transform: translateY(0); // 将 translateY 0 以移動內容
            }
        }
    }

    @media screen and (max-width: 720px) {

        align-items: center;
    }


}

